# Laboratorio Práctico : Copia de Seguridad y Restauración usando MySQL

En este laboratorio, aprenderás cómo usar la interfaz de línea de comandos (CLI) de MySQL para crear diferentes tipos de copias de seguridad de una base de datos y restaurar la estructura y los datos de una base de datos con las copias de seguridad que has creado cuando sea necesario.

## Objetivos

Después de completar este laboratorio, podrás usar la línea de comandos de MySQL para:

- Realizar una Copia de Seguridad y Restauración Lógica

## Software Utilizado en este Laboratorio

En este laboratorio, utilizarás [MySQL](https:\www.mysql.com\). MySQL es un Sistema de Gestión de Bases de Datos Relacionales (RDBMS) diseñado para almacenar, manipular y recuperar datos de manera eficiente.

![Logotipo de MySQL](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/mysql.png)

Para completar este laboratorio, utilizarás el servicio de base de datos relacional MySQL disponible como parte de los Laboratorios de la Red de Habilidades de IBM (SN Labs) en el IDE de la nube. SN Labs es un entorno de laboratorio virtual utilizado en este curso.

## Base de Datos Utilizada en este Laboratorio

La base de datos World utilizada en este laboratorio proviene de la siguiente fuente: [https://dev.mysql.com/doc/world-setup/en/](https:\dev.mysql.com\doc\world-setup\en\) bajo la [Licencia CC BY 4.0](https:\creativecommons.org\licenses\by\4.0\deed.en) con [Copyright 2021 - Statistics Finland](https:\tilastokeskus.fi\org\lainsaadanto\copyright_en.html).

Utilizarás una versión modificada de la base de datos para el laboratorio, así que para seguir las instrucciones del laboratorio con éxito, por favor utiliza la base de datos proporcionada con el laboratorio, en lugar de la base de datos de la fuente original.

El siguiente diagrama ERD muestra el esquema de la base de datos World:

![Diagrama ERD](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/World_ERD.png)

La primera fila es el nombre de la tabla, la segunda es la clave primaria y los elementos restantes son cualquier atributo adicional.

  

## Ejercicios

Este laboratorio se divide en dos ejercicios: un Ejercicio de Ejemplo y un Ejercicio de Práctica.

## Ejercicio de Ejemplo A: Realizar una Copia de Seguridad Lógica y Restauración

En este ejercicio de ejemplo, recorrerás un ejemplo que cubre cómo realizar una copia de seguridad lógica y la restauración de una tabla de base de datos.

Una copia de seguridad lógica crea un archivo que contiene comandos DDL (como crear tabla) y DML (como insertar) que recrean los objetos y datos en la base de datos. Como tal, puedes usar este archivo para recrear la base de datos en el mismo sistema o en otro. Generalmente, cuando realizas una copia de seguridad lógica y restauración, recuperas cualquier espacio desperdiciado de la base de datos original, ya que el proceso de restauración crea una versión limpia de las tablas. Las copias de seguridad lógicas te permiten realizar copias de seguridad de objetos granulares. Por ejemplo, puedes hacer una copia de seguridad de una tabla de base de datos individual, sin embargo, no puedes usarla para hacer copias de seguridad de archivos de registro o configuraciones de la base de datos. Supón que estás en una situación donde eliminaste accidentalmente una o más tablas de una base de datos. Aquí es donde utilizas la copia de seguridad lógica de una tabla de base de datos para restaurar la estructura y los datos de la tabla.

1. Inicia la sesión del servicio MySQL utilizando la directiva `Start MySQL in IDE button`.

 <span class="plugin-text" style="scrollbar-color: rgb(69, 74, 77) rgb(32, 35, 36); padding: 0px 0px 0px 2px; margin: 0px; box-sizing: border-box; display: inline;">Open MySQL Page in IDE</span>

2. En la página de lanzamiento, haz clic en el botón **Crear**.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/fizCpgfWdirIdQ1MPgzvCg/k2-1.png)

**NOTA:** Siempre que se te pida ingresar tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL en cualquier paso del laboratorio, copia la contraseña que se muestra en la sección **Información de Conexión** cuando MySQL se inició. Pega la contraseña en el terminal usando **Ctrl + V** (Mac: ⌘ + V), y presiona **Enter** en el teclado. Por razones de seguridad, no verás la contraseña mientras se ingresa en el terminal.

3. Haz clic en el botón **Nuevo Terminal** desde la pestaña de sesión del servicio mysql. Ahora necesitas obtener dos archivos de script mysql al almacenamiento de sesión del usuario de Cloud IDE. Copia el comando a continuación haciendo clic en el pequeño botón de copiar en la esquina inferior derecha del bloque de código. Luego pégalo en el terminal en el símbolo del sistema usando **Ctrl + V** (Mac: ⌘ + V), y **Enter** en el teclado. Haz esto para cada uno de los comandos a continuación uno por uno.
    
    - [world\_mysql\_script.sql](https:\cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud\IBM-DB0231EN-SkillsNetwork\datasets\World\world_mysql_script.sql)
        
        ```
        wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_script.sql
        
        ```
        
    - [world\_mysql\_update\_A.sql](https:\cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud\IBM-DB0231EN-SkillsNetwork\datasets\World\world_mysql_update_A.sql)
        
        ```
        wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_update_A.sql
        
        ```
        
    
    ![Captura de pantalla del terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.3.png)

4. Inicia una sesión de línea de comandos mysql haciendo clic en el botón **MySQL CLI** desde la pestaña de sesión del servicio mysql.

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/tZa2-_CEaVS2PslvxKFWlg/k2-4.png)

5. Crea una nueva base de datos **world** usando el comando a continuación en el terminal:
    
    ```sql
    CREATE DATABASE world;
    ```
    
    ![Captura de pantalla mostrando el comando para crear la base de datos world en el terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.5.png)

In [1]:
CREATE DATABASE world;

: 1007 (HY000): Can't create database 'world'; database exists

6. Para usar la base de datos world recién creada, usa el comando a continuación en el terminal:
    
    ```
    USE world;
    ```
    
    ![Captura de pantalla mostrando el comando use world en el terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.6.png)

In [1]:
USE world;

7. Ejecuta el script mysql world ([world\_mysql.sql](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/datasets/World/world_mysql_script.sql)) para completar el proceso de creación de la base de datos world usando el comando a continuación en el terminal:
    
    ```sql
    SOURCE world_mysql_script.sql;
    ```
    
    ![Salida de ejecutar el comando SOURCE](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/MySQL_backup_feedback_2.png)

8. Para listar todos los nombres de las tablas de la base de datos world, usa el comando a continuación en el terminal:
    
    ```sql
    SHOW TABLES;
    ```
    
    ![Captura de pantalla mostrando el comando show tables en el terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.8.png)

In [2]:
SHOW TABLES;

Tables_in_world
city
country
countrylanguage
csv_test
myisam_test

9. Recupera todos los registros relacionados con Canadá (countrycode=’CAN’) de la tabla **countrylanguage** usando el comando a continuación en el terminal:
    
    ```sql
    SELECT * FROM countrylanguage WHERE countrycode='CAN';
    ```
    
    ![Captura de pantalla mostrando el comando de código de país en el terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.9.png)

In [6]:
 SELECT *
 FROM countrylanguage 
 WHERE CountryCode = 'CAN';

10. Observarás que el conjunto de resultados devuelto está vacío. Esto significa que actualmente faltan los registros relacionados con Canadá en la tabla. Ejecuta el script de actualización ([world\_mysql\_update\_A.sql](https:\cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud\IBM-DB0231EN-SkillsNetwork\datasets\World\world_mysql_update_A.sql)) para insertar los registros que estabas buscando.
    
    ```sql
    SOURCE world_mysql_update_A.sql;
    
    ```

 
11. Ahora repite el paso 9 para verificar.
    
    ![Captura de pantalla mostrando la tabla de la base de datos](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.11.png)

12. Sal de la sesión de línea de comandos de MySQL usando el comando a continuación en el terminal:
    
    ```sql
    \q
    
    ```
    
    ![Captura de pantalla mostrando el comando utilizado para salir de la sesión de MySQL](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.12.png)

13. Ahora realiza una copia de seguridad de la tabla **countrylanguage** de la base de datos **world** usando el comando a continuación en el terminal (ingresa tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL si es necesario):
    
    ```sql
    mysqldump --host=mysql --port=3306 --user=root --password world countrylanguage > world_countrylanguage_mysql_backup.sql
    ```
    
    ![Captura de pantalla mostrando el comando utilizado para hacer una copia de seguridad de la tabla countrylanguage de la base de datos world](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.13.png)

14. Para ver el contenido del archivo de copia de seguridad dentro del terminal, usa el comando a continuación:
    
    ```
    1cat world_countrylanguage_mysql_backup.sqlCopied!Wrap Toggled!
    ```
    
    ![Captura de pantalla mostrando el comando utilizado para ver el contenido del archivo de copia de seguridad](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.14.png)

15. Ejecuta el comando a continuación en el terminal (ingresa tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL si es necesario):
    
    ```sql
    mysql --host=mysql --port=3306 --user=root --password --execute="DROP TABLE world.countrylanguage;
    ```
    
    ![Captura de pantalla mostrando el comando a ejecutar en el terminal](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.15.png)

16. Para listar todos los nombres de las tablas de la base de datos world, usa el comando a continuación en el terminal (ingresa tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL si es necesario):
    
    ```
    mysql --host=mysql --port=3306 --user=root --password --execute="SHOW TABLES FROM world;"
    ```
    
    ![Captura de pantalla mostrando el comando utilizado para listar todos los nombres de las tablas de la base de datos world](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.16.png)

17. Observarás que la tabla **countrylanguage** falta en la base de datos world. Ahora estás en la situación donde eliminaste accidentalmente una tabla de una base de datos. Aquí es donde utilizarás la copia de seguridad de la tabla de base de datos (creaste la copia de seguridad **world\_countrylanguage\_mysql\_backup.sql**) para restaurar la estructura y los datos de la tabla.

18. Para restaurar la estructura y los datos de la tabla **countrylanguage**, usa el comando a continuación en el terminal (ingresa tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL si es necesario):
    
    ```sql
    mysql --host=mysql --port=3306 --user=root --password world < world_countrylanguage_mysql_backup.sql
    ```
    
    ![Captura de pantalla mostrando el comando utilizado para restaurar la estructura y los datos de la tabla](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.18.png)

19. <span style="color: var(--vscode-foreground);">Ahora repite el paso 16 para verificar.</span>  
    
![Captura de pantalla mostrando la verificación](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.19.png)

20. Nuevamente recupera todos los registros relacionados con Canadá (countrycode=’CAN’) de la tabla **countrylanguage** usando el comando a continuación en el terminal (ingresa tu contraseña de sesión del servicio MySQL desde la pestaña de sesión del servicio MySQL si es necesario):
    
    ```sql
    mysql --host=mysql --port=3306 --user=root --password --execute="SELECT * FROM world.countrylanguage WHERE countrycode='CAN';"
    ```
    
    ![Captura de pantalla mostrando todos los registros relacionados con Canadá de la tabla countrylanguage](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DB0231EN-SkillsNetwork/labs/MySQL/Lab%20-%20Backup%20and%20Restore%20using%20MySQL/images/A.20.png)